.mini-post-container {
    border-radius: 10px;
    background-color: #567086;
    box-shadow: 0 -3px 5px 0 rgba(69, 92, 113, 0.59);
    -webkit-box-shadow: 0 -3px 5px 0 rgba(69, 92, 113, 0.59);
    -moz-box-shadow: 0 -3px 5px 0 rgba(69, 92, 113, 0.59);
    overflow: hidden;
    width: 100%;
    margin: 10px 5px;
    max-width: 350px;
    cursor: pointer;
}

.mini-post-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
    font-size: 1.5rem;
    margin-top: 15px;
}

.mini-post-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 0.7rem;
}

.mini-post-stats span {
    display: flex;
    align-items: center;
}

.mini-post-stats i {
    margin-right: 2px;
}

.mini-post-stats a {
    color: #f5a623;
}

.mini-post-text {
    color: #ffffff;
    font-size: 0.95rem;
    line-height: 1.6;
}

.mini-post-text a {
    color: #f5a623;
    text-decoration: none;
}

.mini-post-text a:hover {
    text-decoration: underline;
}




.post-metrics {
    margin-top: 10px;
}

.post-metrics span {
    margin-right: 15px;  /* Space between each metric */
    font-size: 14px;     /* Adjust font size as needed */
    color: #555;         /* Text color */
}

.post-metrics i {
    margin-right: 5px;   /* Space between icon and text */
    color: #007bff;      /* Icon color */
}