<!------------------------------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/post.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/comment-section.css') }}" />
    {% if translations['language']=="fa" %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/farsi-specifics.css') }}" /> 
    {% endif %}
</head>

<body style="padding-top: 90px;">
    {% include 'top-nav-bar.html' %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="custom-alert">
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">{{translations['change_password']}}</h2>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                <form action="{{ url_for('change_password') }}" method="post" class="tm-login-form">

                  <div class="form-group">
                    <label for="username" class="farsi-user-pass-title">{{translations['username']}}</label>
                    <input type="text" id="username" name="username" class="form-control" required />
                  </div>

                  <div class="form-group">
                    <label for="current_password" class="farsi-user-pass-title">{{translations['current_password']}}</label>
                    <input type="password" id="current_password" name="current_password" class="form-control validate" required />
                  </div>

                  <div class="form-group mt-3">
                    <label for="new_password" class="farsi-user-pass-title">{{translations['new_password']}}</label>
                    <input type="password" id="new_password" name="new_password" class="form-control validate" required />
                  </div>

                  <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">{{translations['submit']}}</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer -->
    {% include 'tm-footer.html' %}

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tooplate-scripts.js"></script>
    <script> 
        $(function(){
          $("#includePost").load("post.html"); 
        });
    </script> 
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const alertBox = document.querySelector('.custom-alert');
          if (alertBox) {
              setTimeout(() => {
                  alertBox.classList.add('fade-out');
              }, 500);
  
              setTimeout(() => {
                  alertBox.style.display = 'none';
              }, 1500);
          }
      });
  </script>
</body>

</html>