<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyChat - Home</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/post.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mini-post.css') }}" /> 
</head>

<body id="homePage" style="padding-top: 90px;">
    {% include 'top-nav-bar.html' %}

    <!-- Latest post Section -->
    <section class="tm-latest-post">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-section-title mb-0">Latest Posts</h2>
                </div>
            </div>
            <div class="row">
                {% for post in posts: %}
                    {% include 'mini-post.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="tm-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-white">Copyright &copy; 2018 All rights reserved. Design: <a href="https://templatemo.com" class="tm-footer-link">Template Mo</a></p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/tooplate-scripts.js"></script>

<script>
    function handlePostClick(postId) {
            window.location.href = '/post?post_id=' + postId;
        }
</script>
<script>
    const paragraph = document.getElementById('myParagraph');
    const text = paragraph.textContent;
  
    if (text.length > 20) {
      paragraph.textContent = text.substring(0, 20) + '...';
    }
  </script>