<div href="{{url_for('detail_post',post_id=post.id)}}" class="col-lg-4 col-md-6 mini-post-container">
    <a style="all: unset; color:white;" href="{{url_for('detail_post',post_id=post.id)}}" c>
    <div class="tm-post-item">
        <img src="{{post.image}}" alt="post 1" class="img-fluid cover-image">
        <h3 class="tm-post-title mb-0">{{post.title}}</h3>
        <div class="mini-post-stats">

        </div>
        <div class="media">
            <div class="mini-post-stats">
                <p>by <a href="#" c><b>{{post.user.username}}</b></a>
            </div>
        </div>
        <p class="mini-post-text">{{post.content}}</p>
    </div>
    </a>
</div>