<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Post - MyChat</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/post.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" />
    {% if translations['language']=="fa" %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/farsi-specifics.css') }}" /> 
    {% endif %}
</head>

<body id="createPostPage" style="padding-top: 90px;">
    {% include 'top-nav-bar.html' %}

    <section class="tm-post-create">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-section-title mb-0">{{translations['create_new_post']}}</h2>
                </div>
            </div>
            <div class="post-create-container">
                <form method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="post_title">{{translations['title']}}</label>
                        <textarea name="post_title" id="post_title" class="form-control" rows="1" required></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="post_img">{{translations['upload_image']}}</label>
                        <input type="file" name="post_img" id="post_img" class="form-control-file" >
                    </div>

                    <div class="form-group">
                        <label for="post_description">{{translations['post_description']}}</label>
                        <textarea name="post_description" id="post_description" class="form-control" rows="4" required></textarea>
                    </div>

                    <button name="post_submit" type="submit" class="btn btn-primary">{{translations['create_post']}}</button>
                </form>
            </div>
        </div>
    </section>

    {% include 'tm-footer.html' %}

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tooplate-scripts.js"></script>
</body>

</html>
