<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyChat - Home</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/post.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/comment-section.css') }}" />
</head>

<body id="homePage" style="padding-top: 90px;">
    {% include 'top-nav-bar.html' %}

    <!-- Latest post Section -->
    <div class="container">
        <div class="post-container">
            <div class="post-header">
                <!--img src="" alt="profile picture" class="profile-img" -->
                <div class="post-details">
                    <!--h3>PROFILE NAME</h3-->
                    <!--p>Published in: publish_date</p-->
                </div>
            </div>
            <div class="post-image">
                <img src="{{post.image}}" alt="post image">
            </div>
            <div class="post-footer">
                <div class="post-stats">
                    <!--span><i class="fas fa-eye"></i>views</span>
                    <span><i class="fas fa-thumbs-up"></i>likes</span>
                    <span><i class="fas fa-thumbs-down"></i>dislikes</span>
                    <span><i class="fas fa-comment-alt"></i>comments_num</span-->
                </div>
                <p class="post-text">
                    {{post.content}}
                </p>
            </div>
        </div>

        <div class="comment-section-container">
            <h3 class="comment-section-title">Comments</h3>
            <div id="comments-list">
                {% for comment in comments %}
                    <div class="comment">
                        <p><strong>{{ comment.user.username }}:</strong> {{ comment.content }}</p>
                    </div>
                {% endfor %}
            </div>

            {% if not user == "": %}
                <form method="POST" id="comment-form">
                    <input type="hidden" name="post_id" value="">
                    <div class="form-group">
                        <label for="text">Comment:</label>
                        <textarea name="comment" name="text" id="text" class="form-control" rows="4" required></textarea>
                    </div>
                    <button name="comment_submit" type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
            {% endif %}
        </div>
    </div>


    <!-- Footer -->
    <footer class="tm-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-white">Copyright &copy; 2018 All rights reserved. Design: <a href="https://templatemo.com" class="tm-footer-link">Template Mo</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tooplate-scripts.js"></script>
    <script> 
        $(function(){
          $("#includePost").load("post.html"); 
        });
    </script> 
</body>

</html>