<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.username }} - Profile</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/post.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/comment-section.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mini-post.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
    {% if translations['language']=="fa" %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/farsi-specifics.css') }}" /> 
    {% endif %}
</head>
<body style="padding-top: 90px;">
    {% include 'top-nav-bar.html' %}

    <div class="profile-container">
        <!--div class="cover-photo">
            <img src="#" alt="Cover Photo">
        </div>
        <div class="profile-photo">
            <img src="#" alt="Profile Photo">
        </div-->
        <div class="profile-info">
            <h1 class="profile-name-style">{{ user.username }}</h1>
            <p>{{ bio }}</p>
            <!--div class="profile-stats">
                <span><b>#</b> Posts</span>
                <span><b>#</b> Followers</span>
                <span><b>#</b> Following</span>
            </div-->
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="custom-alert">
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% endwith %}
    <div class="content">
        <div class="profile-options">
            <h2 class="posts_by_class">{{translations['manage_your_account']}}</h2> 
        
            <!-- Link to change username -->
            <a href="{{ url_for('change_username') }}" class="">
                <button class="button change-username">{{translations['change_username']}}</button>
            </a>
        
            <!-- Link to change password -->
            <a href="{{ url_for('change_password') }}" class="">
                <button class="button change-password">{{translations['change_password']}}</button>
            </a>
        </div>
    </div>

    <div class="content">
        <h2 class="posts_by_class">{{translations['posts_by']}} {{ user }}</h2>
        <div class="post-grid">
            {% for post in user_posts %}
                <div class="post-card">
                    <img src="{{post.image}}" alt="Post Image">
                    <div class="post-info">
                        <h3>{{ post['title'] }}</h3>
                        <p>{{ post['post_description'] }}</p>
                        <p class="mini-post-text">{{post.content}}</p>
                    </div>

                    <!-- Updated actions container -->
                    <div class="post-action-buttons-container">
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <span onclick="return confirmDelete()"> </span>
                            <button class="post-action-button" name = "post_delete" type="submit">{{translations['delete']}}</button>

                    </form>
                    <form action="{{ url_for('update_post', post_id=post.id) }}" method="GET">
                        <span>
                            <button class="post-action-button" name="edit_post" type="submit">{{translations['edit']}}</button>
                        </span>
                    </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% include 'tm-footer.html' %}

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tooplate-scripts.js"></script>
    <script>
        function confirmDelete() {
        return confirm('Are you sure you want to delete the post?');
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const alertBox = document.querySelector('.custom-alert');
            if (alertBox) {
                setTimeout(() => {
                    alertBox.classList.add('fade-out');
                }, 500);  // Start fading after 5 seconds
    
                setTimeout(() => {
                    alertBox.style.display = 'none';
                }, 1500);  // Completely hide after 6 seconds (1s fade-out duration)
            }
        });
    </script>
    
</body>
</html>
