<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.username }} - Profile</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/post.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/comment-section.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mini-post.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
    {% if translations['language']=="fa" %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/farsi-specifics.css') }}" /> 
    {% endif %}
</head>
<body style="padding-top: 90px;">
    {% include 'top-nav-bar.html' %}

    <div class="profile-container">
        <!--div class="cover-photo">
            <img src="#" alt="Cover Photo">
        </div>
        <div class="profile-photo">
            <img src="#" alt="Profile Photo">
        </div-->
        <div class="profile-info">
            <h1 class="profile-name-style">{{ user.username }}</h1>
            <p>{{ bio }}</p>
            <!--div class="profile-stats">
                <span><b>#</b> Posts</span>
                <span><b>#</b> Followers</span>
                <span><b>#</b> Following</span>
            </div-->
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="custom-alert">
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endwith %}
    <div class="content">
        <h2 class="posts_by_class">{{translations['posts_by']}} {{ user }}</h2>
        <div class="post-grid">
            {% for post in user_posts %}
                <div class="post-card">
                    <img src="{{post.image}}" alt="Post Image">
                    <div class="post-info">
                        <h3>{{ post['title'] }}</h3>
                        <p>{{ post['post_description'] }}</p>
                        <p class="mini-post-text">{{post.content}}</p>
                    </div>
                
                    <!-- Updated actions container -->
                    <div class="post-action-buttons-container">
                        <a href="{{ url_for('delete_post', post_id=post.id) }} " onclick="return confirmDelete()">
                            <button class="post-action-button">{{translations['delete']}}</button>
                        </a>
                        <a href="{{ url_for('edit_post', post_id=post.id) }}">
                            <button class="post-action-button">{{translations['edit']}}</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'tm-footer.html' %}

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        function confirmDelete() {
        return confirm('Are you sure you want to delete the post?');
        }
    </script>
    
</body>
</html>
