<footer class="tm-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-white">
                    Copyright &copy; 2018 All rights reserved. Design: 
                    <a href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
                <p class="text-white">
                    <a href="{{ url_for('set_language', lang='en') }}" class="tm-footer-link color: green">English</a> | 
                    <a href="{{ url_for('set_language', lang='fa') }}" class="tm-footer-link">فارسی</a>
                </p>
            </div>
        </div>
    </div>
</footer>