<nav class="navbar navbar-expand-xl fixed-top ">
    <div class="container h-100">
        {% if translations['language']=='en' %}
            <a class="navbar-brand" href="{{url_for('home')}}">
                <img class="home-icon" src="{{ url_for('static', filename='img/logo.png') }}"></img>
            </a>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if user %}
                    <a class="nav-link d-block" href="{{url_for('logout',pk=user_id)}}">
                        {{user}}, <b>{{translations['logout']}}</b>
                    </a>
                    {% else: %}
                    <!--a class="nav-link d-block" href="login">
                        <b>Login</b>
                    </a-->
                    <a class="btn btn-primary login-btn" href="{{url_for('login')}}">
                        <i class="fas fa-sign-in-alt"></i> <b>{{translations['login']}}</b>
                    </a>
                    {% endif %}
                </li>
            </ul>
        {% endif %}
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">
                        <i class="fas fa-home"></i>
                        {{translations['home']}}
                        <!--span class="sr-only">(current)</span-->
                    </a>
                </li>

                {% if user %}
                <!--li class="nav-item">
                    <a class="nav-link" href="login">
                        <i class="far fa-user"></i>
                        Account Settings
                    </a>
                </li-->
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('create_post')}}">
                        <i class="far fa-paper-plane"></i>
                        {{translations['create_post']}}
                    </a>
                </li>

                <!--li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-cog"></i>
                        Site Settings
                    </a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile')}}">
                        <i class="fas fa-user-alt"></i>
                        {{translations['profile']}}
                    </a>
                </li>
            </ul>
            {% if translations['language']=='fa' %}
            <a class="navbar-brand" href="{{url_for('home')}}">
                <img class="home-icon" src="{{ url_for('static', filename='img/logo.png') }}"></img>
            </a>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if user %}
                        <a class="nav-link d-block" href="{{url_for('logout',pk=user_id)}}">
                            {{user}}, <b>{{translations['logout']}}</b>
                        </a>
                        {% else: %}
                        <!--a class="nav-link d-block" href="login">
                            <b>Login</b>
                        </a-->
                        <a class="btn btn-primary login-btn" href="{{url_for('login')}}">
                            <i class="fas fa-sign-in-alt"></i> <b>{{translations['login']}}</b>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<script>
function redirectToPage(pageAddress) {
    window.location.href = "home";
}
</script>